<main>
  <h1>Welcome to the homepage, {{nameDisplay}}</h1>

  <form action="/" method="post" accept="utf-8">
    <label>For a personalized message, enter your name:</label>
    <input type="text" name="name" value="">

    <button type="submit">SUBMIT</button>
  </form>
</main>
