
 <div class="row">
  <div class="col-4 smallSideMargins">
    <h1>All Things</h1>
    <p class="indent">All things in database. Add more on the side form.
    </p>
  </div>  
  <div class="col-4 smallSideMargins">
    <h2>Enter a new thing you like</h2>
        <form name="thing-form" method="post" action="http://localhost:3000/things/" accept-charset="utf-8">
        <input type="text" name="itemname" value="" placeholder="Name" required />
        <br />
        <!-- <label for="name">Category</label>
          <select name="category" required />
          <option value=""></option>
          <option value="board_game">Board game</option>
          <option value="video_game">Video Game</option>
          <option value="code">Code</option>
          <option value="other">Other</option>
          </select> -->
        <input type="text" name="category" value="journal_post" type="hidden" >
        <br><br>
        <input type="text" name="picture" value="" placeholder="Type Image url" required>
        <br />
        <input type="text" name="about" value="" placeholder="Description" required/>
        <br />
        <input type="text" name="link" value="" placeholder="Link for more info" required />
        <br />

        <button>Submit</button>
      </form>
  </div>    

  </div>
 </div>


 <div class="row">

  
    {{#each things}}

        <div class="col-6">
          <h2 class="center">{{this.name}}</h2>
          <div class="item_container">
            <img class="lone_pic" src="{{this.picture}}" />
            
            <div class="item_description"><p>{{this.about}}</p> 
            <a href="{{this.link}}" class="see_more"> See more...</a>
            </div>
              
                      
          </div>

        </div>
        

        
      
    {{/each}}
  
  </div>


    

     
      



