
 <div class="row">
  <div class="col-8 smallSideMargins">
    <h1>Other</h1>
    <p class="indent">Other things of interest that don't fit the other categories
    </p>

  </div>
 </div>


 <div class="row">

  
    {{#each others}}

        <div class="col-6">
          <h2 class="center">{{this.name}}</h2>
          <div class="item_container">
            <img class="lone_pic" src="{{this.picture}}" />
            
            <div class="item_description"><p>{{this.about}}</p> 
            <a href="{{this.link}}" class="see_more"> See more...</a>
            </div>
              
                      
          </div>

        </div>
        

        
      
    {{/each}}
  
  </div>


    

     
      



