<main>
  <ul>
  {{#each ppl}}
    <li> 
      <h3>Places!</h3>
      
      Company: {{this.company}}<br />

       <!-- <a href="/ppl/{{@index}}"><button type="submit">MoreInfo</button></a> -->
      
    </li>
  {{/each}}
  </ul>


</main>
