<main>
  <ul>
  {{#each ppl}}
    <li> 
      <h3>{{this.name}}</h3>
      
      Balance: {{this.balance}}<br />

       <!-- <a href="/ppl/{{@index}}"><button type="submit">MoreInfo</button></a> -->
      
    </li>
  {{/each}}
  </ul>


</main>
