
 <div class="row">
  <div class="col-8 smallSideMargins">
    <h1>Video Games</h1>
    <p class="indent">I've been video gaming since Mario/ Duck Hunt on the NES. While I do enjoy some of the new hotness, I find myself dusting off old classics more often.
    </p>

  </div>
 </div>


 <div class="row">

  
    {{#each vgames}}

        <div class="col-6">
          <h2 class="center">{{this.name}}</h2>
          <div class="item_container">
            <img class="lone_pic" src="{{this.picture}}" />
            <div class='see_more'>
              <a href="{{this.link}}" class=""> See more...</a>
            </div>
            
            <div class="item_description"><p>{{this.about}}</p> 
            </div>
              
                      
          </div>

        </div>
        

        
      
    {{/each}}
  
  </div>


    

     
      



