<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<img class="circuit" src="images/circ_gal.jpg">
    <img id="screen" src="images/black_matte.jpg">
     

        <ul class="nav">
        <a href="home"><img class="home" src="images/home.png" /></a>
          <a href="board_games"><li>Board Games</li></a>        
          <a href="video_games"><li>Video Games</li></a>
          <a href="coding"><li>Code</li></a>
          <a href="other"><li>Other Projects</li></a>      
        </ul>
