<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="row">
  <div class="col3">
     <a href="/">HOME</a>
  </div>
  <div class="col3">
    <a href="/users/">User</a>
  </div>
   <div class="col3">
    <a href="/ppl/places/">Places</a>
  </div>
   <div class="col3">
    <a href="/full/">Full Listing</a>
  </div>
</div>
