<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
